  <%- include header.ejs %>
  <body>
    <div id="page">
    <div id="header">
      <div id="header_image">
        <img src="/images/9hHO6R0b_400x400.jpg" style="height: 102px; width: 102px;" alt="Prashant Sudeep picture" />
      </div>
      <div id="header_title">
        <h3><a href="https://cpoo.in"><%= config.USER_TITLE %></a></h3>
        <div style="font-size:15px; font-style:normal;">
          <%= config.TAGLINE %>
        </div>
      </div>
      <div class="clear"></div>
    </div>
    <div id="content">
      <div id="main">
        <div class="blog_post">
          <h2 class="blog_post_title">How to improve focus?</h2>
          <div class="blog_post_body">
            <center>
              <img src="/images/focus.jpeg" width="700" height="350" alt="human-behavior-facts-insights">
              <small>Image from Unsplash</small>
            </center>
            <br/>
            <b>Let's talk Distraction first</b><br/>
            <br/>Before we dive into focus, let's understand distractions because it's the enemy of focus. We live in an age of infinite information consumed easily through smartphones with unlimited internet data. This is something as humans we were never used to it and hence we are suffering from it. The notifications on the smartphone from various apps are the alarm clock to give you a cue to move away from what you are doing. We, humans, have become prisoners of notifications from Apps and we have no idea about it. If you don't believe this, try sitting alone in a room without any electronic media around yourself for 2-3 hours.
            <br/>
            <br/>This is one of the primary ways of being distracted. All distractions are triggers sent to our senses through ears, eyes, smell(via the nose), touch, etc. Any of these sense receives an external signal of any form can be either from smartphones or car honking, someone playing music in their balcony, your mom speaking to someone in the next room, smell of food being prepared. These signals give us a cue to pay attention to it and we all fall for any one of those signals/triggers.
            <br/><br/>
            In most cases, we are paying attention to it, especially notifications from Apps on smartphones. One of the primary reasons for you to fall for those notifications is how some of these apps are designed. These apps follow a principle of hooked(read the book Hooked by Nir Eyal) which makes it extremely hard for most people to ignore it. And most of us have become prisoners of FOMO which is mimetic but that's how homo sapiens work.
            <br/>
            <br/>
            <b>Focus</b><br/><br/>
            Now let's move to Focus and understand how focus works and how we can become better in doing focused work. It requires an immense amount of passion, desire, and cravings for the work that you are doing and to not deviate you from it for any external distractions. For anyone to be not distracted by all the cues, one has to have a child-like curiosity about things they are doing at present and thoroughly enjoying the process. However, finding an innate curiosity for something is not that easy. I will be talking about a few hacks to get better at improving in the latter part of the essay.
            <br/><!-- <br/> -->

            <!-- <blockquote>Love leads to focus where you don't need to make efforts!</blockquote> -->

            <br/>
            Before we get into hacks, let's try to understand why focus is important. To achieve something insurmountable, it's super critical to be focused on one thing for a long period and go deep into it to become the best in that particular domain. It requires you to understand things from first principles and not figure out hacks(shortcuts) to crack it for the work to stay with you for decades and pay you off well. Most successful in the world are passionate and focused on their work and they did for a long period for that success to stay.
            <br/><br/>
            <b>Hacks to improve focus:</b>
            <br/>
            <ul>
              <li>When you are working, set short term goals for an hour or 30 minutes especially when you are trying to build a habit and have not done that for years.</li>

              <li>It's going to be super hard initially but start with things which you like & enjoy the immediate process plus also has long term benefits(you need to analyze this for yourself).</li>

              <li>Put your smartphones in another room or ask your parents, partner not to give it to you for an hour or two while you are working.</li>

              <li>Wear noise cancellations headphones to remove all external sounds to take away your attention.</li>

              <li>Work in a room or a place where you can't see any human or anything which can take away your focus from your work.</li>

              <li>Write notes or checklists of your work, breaking down your tasks into small chunks to make it look easy and keep ticking the points off when it's done. This will boost confidence when checklists are getting clear.</li>

              <li>Make sure you go to washroom or loo before you start the work, this also takes your focus once you get up from what you are doing(used to happen with me a lot when I was trying to build this habit).</li>

              <li>When you are done with the work write a summary of it in a manner that you can read in 2 - 4 minutes and get a gist of it and can easily explain it to someone else. This will help you in improving your understanding of the task and bring clarity.</li>

              <li>Focus on continuity (following it daily) and doing it at the same time every day. This will turn your task into a ritual over a while until it becomes second nature.</li>

              <li>Keep increasing the time and task level every week. The jump of time and complexity shouldn't be so high that it confuses you and makes you give up. Ensure that the task makes you think and is also doable at the same time to ooze confidence and a sense of accomplishment when you finish.</li>

            </ul>
            <!-- <br/><b>Conclusion</b><br/> -->
            <br/>Once you follow the above steps, this will improve your focus in 4-6 months you will be a much better person than you were in terms of knowledge and understanding earlier. Don't do anything for people around you or any sort of external validations. That's the wrong motivation and you will stop doing it once people stop valuing it or applauding. Do it for yourself, your happiness and growth, it will stay with you for decades. Things that you do daily and honestly(with focus) stays with you and helps you in difficult times and eventually pays off.
            <br/><br/>
            A lot of people feel that they are not smart enough to be successful, whatever their definition of success is. But the reality is it's all about focus and years of grind which makes you smarter and better. We are all programmed socially and we believe what people around us, friends, and families tell us. Our true power is unleashed only when we do deep work without being distracted in zero-sum games and care about things deeply and not worrying too much about what people think about us.
            <br/><br/>
            <i>Last updated: May 9, 2020</i>
          </div>
          <!-- <div id="subscribe_cta">
            <div id="subscribe_cta_title">Enjoyed this essay?</div>
            <div id="subscribe_cta_description">Get my monthly essays on product management & entrepreneurship delivered to your inbox.</div>
            <form action="/subscribe" method="POST" target="_blank">
              <input id="subscribe_cta_email" type="email" placeholder="Email address" name="email">
              <input type="hidden" name="source" value="Post Footer">
              <input id="subscribe_cta_referrer" type="hidden" name="referrer" value="">
              <input id="subscribe_cta_submit" type="submit" value="Subscribe" name="submit">
            </form>
            <script type="text/javascript">
              var referrer_input = document.getElementById('subscribe_cta_referrer')
              referrer_input.value = document.referrer;
            </script>
          </div> -->
          <div class="blog_post_published_date">
            9th May 2020
          </div>
          <br/>
          <b>Thanks</b> to Ayush Bharti, Sahiba Sethi, Amey Bhopi, Aashita Apoorva for reading the drafts and sharing feedback, making this article better.
        </div>
        <div id="paging">
        <a href="human-behaviour.html">&#171 Older Posts</a>
          <div class="clear"></div>
        </div>
      </div>
      <div id="sidebar">
        <div class="sidebar_title"><a href="/about">About</a></div>
        <div id="about_description">
          <%= config.ABOUT %>
        </div>
        <!-- recent posts -->
        <div class="sidebar_title"><a href="#">Essays</a></div>
        <div id="recent_posts">
          <%- include menu.ejs %>
        </div>
        <div class="clear"></div>
      </div>
    </div>
    <%- include footer.ejs %>
  </body>
</html>
